/**
 * Home Page Styles
 */

  div#home-page{
 	div.cfm-project-gallery{
		ul{
	 		li{
				div.project-inner{
		 			a{
		 				div.project-label{
		 					div.project-label-inner{
		 						h3{
		 						}
		 					}
		 				}

		 				&:hover{
		 					div.project-label{
			 					div.project-label-inner{
			 					}
			 				}
		 				}
	 				}	
	 			}
	 		}
	 	}
	 }
}

html:not(.mobile){
	#home-page{
	 	#reel-videoplayer.cfm-videoplayer{
			video{
				background:#EEE;
			}

			.cfm-videoplayer-poster{
				background-color: #FFF;
				background-size:80%;
				background-position:50% 40%;

				@media(min-width:$tablet-small){
					background-size:initial;
				}

				.cfm-videoplayer-playbutton{
					// padding:0 24px 0 0;
					border:1px solid $cfmred;
					border-radius:0;
					top:40%;
					margin-top:120px;

					// // width:auto;
					// // height: auto;
					// background:#FFF;
					// top: 45%; left: 50%;
	  		// 		margin:65px 0 0 -94px;


					// @media(min-width:$tablet-small){
					// 	margin:100px 0 0 -94px;
					// }

					span.arrow{
						border-left-color: $cfmred;
						margin-left:-12px;
						// position: absolute;
						// border-top: 16px solid transparent;
						// border-bottom: 16px solid transparent;
						// border-left: 18px solid $cfmred;
						// margin:-8px 0 0 -18px;
						// display: inline-block;
						// vertical-align: middle;
					}
				}

				&:hover{
					.cfm-videoplayer-playbutton{
						border:1px solid #555;
						background-color:#FFF;
						span.arrow{
							border-left-color: #555;
						}
					}
				}
			}
		}
 	}
}