.project-asset{
	.project-asset-inner{padding:10px;}

	.project-asset-description{
		.project-asset-description-inner{
		}
	}

 	div.cfm-project-gallery{
		ul{
	 		li{
	 			@media(min-width:$desktop-large){
	 				width:25%;
	 			}

				div.project-inner{
					padding:10px;

					@media(min-width:$tablet-small){
		 				
		 			}

		 			a{
		 				div.project-label{
		 					transform: scale(1) !important;
		 					background:transparent;
		 					
		 					div.project-label-inner{
		 						background:#FFF;
		 						position: absolute;
		 						display: block;
		 						top:20px; left:20px;
		 						padding:10px 20px;

		 						h2{
		 							font-family: "gotham-bold";
		 							font-size: 12px;
		 						}
		 					}
		 				}

		 				&:hover{
		 					div.project-label{
			 					div.project-label-inner{
			 					}
			 				}
		 				}
	 				}	
	 			}
	 		}
	 	}
	 }
}