/* ============================
    CFM Navigation Styles
===============================*/

.cfm-navigation
{
	display:block;
	vertical-align:middle;
	text-align:center;

	ul{
		display: inline-block;
		list-style: none;
		padding:0; margin:-2px 0 0 -10px;

		@include clearfix();

		li{
			display: inline-block;
			margin:0 0 2px 10px;

			a{
				display: inline-block;
				line-height: 20px;
				text-decoration: none;
				color: #666;
				padding:3px 0 1px 0;
				outline:none !important;
			}

			#click3x-tab, #click3x-tab h1 {
				color: $cfmred;
			}

			&:hover, &.active{
				a{
					color:#AAA;
					border-bottom:1px solid #AAA;
				}
			}
			#click3x-tab:hover, &.active {
				color:#FFF;
				h1 {
					color:#FFF;
				}
			}

		}
	}
}

#page-labels {
	a:link, a:visited {
	    color: white !important;
	    text-decoration: none !important;	
	}
}

.nav-up {
    top: -54px !important;
}

#header-container {
	@include prefix( "transition", top 0.2s ease-in-out );
}

// #click3x-tab {
// 	color: $cfmred;
// }